[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
tqdm = "*"
scipy = "*"
sklearn = "*"
dataclasses = "*"
dataclasses-json = "*"
pygame = "*"
pygame-widgets = "*"
jupyter = "*"

[requires]
python_version = "3"
